body {
    background: black;
    font-weight: 800;
    font-size: larger;
}

.content {
    background: url(image1.png) no-repeat bottom right;
    height: 500px;
    width: 600px;
    margin: 0 0 0 auto;
    padding-left: 50px;
}

.button-style {
    background-image: linear-gradient(white blue);
    font-weight: 800;
    font-size: larger;
    padding: 1%;
    border: none;
    border-radius: 15px;
}